.message-container {
    position: relative;
}

.smaller {
    font-size: 11px;
    margin-top: -3px;
}

.comment-input {
    position: absolute;
    width: 100%;
    bottom: -81px;
    padding: 5px;
}


textarea {
    min-height: 37px;
}

.bg-chatbox {
    background-color: #F2F3F5;
    border-radius: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.chat-box {
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}