

					
							<div id="chat-sidebar-wrapper">
									<div class="bg-light border-right main-menu">
										<div class="sidebar-heading bg-dark">
											<a [routerLink]="['/']">
												<img src="/assets/img/ecoworld.png" class="eco-logo text-light"> ECO WORLD
											</a>
										</div>
										<div class="list-group list-group-flush">
											<a href="#" class="list-group-item-custom list-group-item-action bg-light" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center"> 
												<mat-icon class="md-18">close</mat-icon> <span>Close Menu</span>
											</a>
											<a href="#" class="list-group-item-custom list-group-item-action bg-light" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center">
												<mat-icon class="md-18">assignment</mat-icon> <span>Projects</span>
											</a>
											<a href="#" class="list-group-item-custom list-group-item-action bg-light" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center">
												<mat-icon class="md-18">error_outline</mat-icon> <span>Problems</span>
											</a>
											<a [routerLink]="['/profile']" class="list-group-item-custom list-group-item-action bg-light" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center">
												<mat-icon class="md-18">face</mat-icon> <span>Profile</span>
											</a>
										</div>
									</div>
								</div>
									