<mat-nav-list>
    <a (click)="closeBottomSheet()" [routerLink]="['/share-idea']"  mat-list-item>
      <span mat-line>Share ECO Idea</span>
      <span mat-line><small>Share an Idea to be discussed or implemented</small></span>
    </a>

    <a (click)="closeBottomSheet()" [routerLink]="['/ideas']"  mat-list-item >
      <span mat-line>View Ideas shared</span>
      <span mat-line><small>Vote and comment on ideas</small></span>
    </a>

  <a (click)="closeBottomSheet()" [routerLink]="['/share-problems']"  mat-list-item>
    <span mat-line>Share ECO Problem</span>
    <span mat-line><small>Make a problem known</small></span>
  </a>

  <a (click)="closeBottomSheet()" [routerLink]="['/problems']"  mat-list-item >
    <span mat-line>View problems shared</span>
    <span mat-line><small>Vote, comment and share ideas</small></span>
  </a>

</mat-nav-list>
