/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
/* @import '~material-design-iconic-font/dist/css/material-design-iconic-font.css'; */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.message-block > small {
    display: none;
}

.message-block > small:first-child {
    display: block;
}

.middle-fit {
    max-width: 600px;
    margin: auto;
}

/* Rules for sizing the icon. */
.material-icons.md-4-5 { font-size: 4.5px; height: 4.5px; width: 4.5px;}
.material-icons.md-9 { font-size: 9px; height: 9px; width: 9px;}
.material-icons.md-18 { font-size: 18px; height: 18px; width: 18px;}
.material-icons.md-24 { font-size: 24px; height: 24px; width: 24px;}
.material-icons.md-36 { font-size: 36px; height: 36px; width: 36px;}
.material-icons.md-48 { font-size: 48px; height: 48px; width: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

mat-form-field {
    width: 100%;
}

.particles {
    /* background-color:rgba(33, 153, 33, 0.95); */
    /* background-color: #006621; */
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

/* .text-primary {
  color : #1a0dab;
}

.bg-primary
.btn-primary {
  background-color:
} */

.text-success {
  color: #006621;
}

.eco-logo {
    width: 50px;
    height: 50px;
    /* border-radius: 100%; */
    background-color: #fff;
    /* -webkit-box-shadow: -1px 0px 35px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 35px -14px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 35px -14px rgba(0,0,0,0.75); */
  }

  #sidebar-wrapper {
    /* min-height: 100vh; */
    margin-left: -160rem;
    position: fixed;
    top: 0px;
    z-index: 999;
    height: 100%;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }

  #chat-sidebar-wrapper {
    /* min-height: 100vh; */
    margin-right: -16rem;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9999;
    height: 100%;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }

  #sidebar-wrapper .sidebar-heading, #chat-sidebar-wrapper .sidebar-heading {
    padding: 0.875 brake 1.25 brake;
    font-size: 1.2rem;
    height: 65px;
    padding: 6px 0 0 20px;
    font-size: 20px;
  }

  #sidebar-wrapper .list-group, #chat-sidebar-wrapper .list-group {
    width: 15rem;
  }

  #page-content-wrapper {
    min-width: 100vw;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled #chat-sidebar-wrapper {
    margin-right: 0;
  }

  .badge-fz-8 {
      font-size: 8px;
  }

  .list-group-item-custom {
    position: relative;
    display: block;
    padding: 0.5rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}





/* Side bar  */

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

/* #sidebar-wrapper {
  min-height: 100vh;
  margin-left: -150rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 150rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
} */

.full-width-dialog .mat-dialog-container {
  height: 100vh;
  width: 100vw !important;
  /* max-width: none !important; */
}

.full-width-dialog.cdk-overlay-pane {
  max-width: none !important;
}

.rotate-180 {
  transform: rotate(-180deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-180deg);

  /* Firefox */
  -moz-transform: rotate(-180deg);

  /* IE */
  -ms-transform: rotate(-180deg);

  /* Opera */
  -o-transform: rotate(-180deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}
